/************************************
 * Overall
 ************************************/
*{
    font-family: arial;
}


/************************************
 * Top Header
 ************************************/
#top_header{
    position: absolute;
    background-color:#234;
    width:100%;
    height:15%;
    left:0px;
    top:0%;
    border-bottom: solid 2px #567;
}

#top_logo{
    float:left;
    width:100px;
    height:100px;
    background-color: #fff;
}

#top_company_name{
    float:left;
    padding:10px;
    color:#fff;
    font-size:20px;
}

#software_name{
    float:right;
    padding:10px;
    padding-top:40px;
    color:#fff;
    font-size:14px;
}
/************************************
 * Container
 ************************************/
#container{
    position: absolute;
    background-color:#345;
    width:100%;
    height:80%;
    left:0px;
    top:15.3%;
}

/************************************
 * Container Class
 ************************************/

.container{
    position:relative;
    padding:10px;    
}

/************************************
 * Footer
 ************************************/
#footer{
    position: absolute;
    background-color:#000;
    width:100%;
    height:5%;
    left:0px;
    top:95%;
}